
@mixin desktop {
    @media only screen and (min-width: 1024px) {
        position: absolute;
        @content;
    }
}
@mixin small {
    @media only screen and (max-width: 1023px) {
      background-size: 100%;
        background-position: center;
      @content;
    }
}
#btn_home{
    cursor: pointer;
    @include small(){
        display: none;
    }
    @include desktop(){
        top: 10px;
        left: 20px;
        z-index: 1;
    }
}
#btn_credits{
    cursor: pointer;
    @include desktop(){
        top: 10px;
        right: 20px;
        z-index: 1;
    }
    @include small(){
        display: none;
    }
}
.popup{

    background-color: #fff;
    background-image: url(./images/background.png), url(./images/book.png);
    background-repeat: no-repeat;
    background-position: bottom right, 90% 60%;

    @include small(){
        background-image: none;
    }
}
#credits{
    &_close{
        cursor: pointer;
        @include small(){
            display: none;
        }
        @include desktop(){
            top: 10px;
            right: 20px;
        }
    }
    @include desktop(){
        top: 120px;
        left: 250px;
    }
    &_title{
        @include desktop(){
            top: 40px;
            left: 30px;
        }
    }
    &_text{
        
        li{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            font-family: 'Century Gothic Regular';
            font-size: 1.2rem;
            color: #676767;
            span:nth-child(1){
                font-family: 'Century Gothic Bold';
                font-size: 1.2rem;
            }
        } 
    }
}


#stage1{
    background-image: url(./images/icon_home.png), url(./images/background.png);
    background-position: top right;
    background-repeat: no-repeat;
    @include small{
        background-image: none;
    }
    &__title{
        @include desktop{
            top: 80px;
            left: 20px;
        }
    }
    &__btn{
        cursor: pointer;
        @include small{
            display: none;
        }
        @include desktop{
            bottom: 80px;
            left: 200px;
        }
    }
}
.title{
    font-family: 'Century Gothic Bold';
    font-size: 3rem;
    span{
        color: #00A599;
    }
}
.text{
    font-family: 'Century Gothic Regular';
    font-size: 2rem;
}
.content{
    font-family: 'Century Gothic Regular';
    font-size: 1.2rem;
    p{
        margin-top:20px;
    }
}
.legend{
    font-family: 'Century Gothic Bold';
    font-size: 1.2rem;
    color: #00A599;
    span{
        font-weight: bold;
    }
}
#slider{
    background-color: #fff;
    margin: 0;
   
    &_2{
        background-color: #fff;
        background-image: url(./images/ejecutivo.png), url(./images/background.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        @include small{
            background-image:  url(./images/background.png);
        }
        .title{
            @include desktop(){
                top: 80px;
                left: 10%;
                width: 80%;
                text-align: center;
            }
        }
        .content{
            @include desktop(){
                top: 160px;
                right: 90px;
                width: 55%;
                text-align: center;
            }
        }
    }
    &_3{
        margin: 0;
        background-color: #fff;
        background-image: url(./images/avatar_video.png), url(./images/background.png);
        background-repeat: no-repeat;
        background-position: bottom left;
        @include small{
            background-image:  url(./images/background.png);
        }
        
        .title{
            @include desktop(){
                top: 80px;
                left: 10%;
                width: 80%;
                text-align: center;
            }
        }
        &__text{
            text-align: center;
            @include desktop(){
                top: 260px;
                right: 180px;
                width: 40%;
            }

            
            &_content{
                font-size: 1.2rem;
                line-height: 1.5rem;
                font-family: 'Century Gothic Regular';
                b{
                    font-family: 'Century Gothic Bold';
                }
            }
           
        }
        #link1{
            font-size: 1.4rem;
            font-family: 'Century Gothic Bold';
            list-style: none;
            color: #000;
            cursor: pointer;
            @include desktop(){
                top: 500px;
                left: 400px;
                width: 90%;
            }
        }
    }
    &_4{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        background-position: 50px bottom, bottom right;
        @include small{
        }
        .title{
            @include desktop(){
                top: 40px;
                left: 10%;
                width: 80%;
                text-align: center;
            }
        }
        &_table{
            @include desktop(){
                top: 170px;
                left: 120px;
                z-index: 0;
            }
        }
        .info{
            cursor: pointer;
            @include desktop(){
                top: 90px;
                left: 90px;
                width: 62px;
                height: 62px;
            }
            img{
                width: 62px;
            }
        }
        &_subtitles{
            display: flex;
            flex-direction: column;
            width: 100%;
            @include desktop(){
                top: 140px;
                left: 15%;
                width: 70%;
                height: 20%;
                text-align: center;
            }
            tr{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 100px;
                img {
                    cursor: pointer;
                }
            }
            td{
                font-size: 1.2rem;
                line-height: 1.5rem;
                font-family: 'Century Gothic Bold';
                text-align: center;
                color: #00A599;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
              
            }
            div{
                display: inline;
            }
        }
    }
    &_5{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        @include small{
            background-image:  url(./images/background.png);
        }
        
        
        &_table{
            @include desktop(){
                top: 80px;
                left: 70px;
            }
        }
    }
    &_6{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        .title{
            @include desktop(){
                top: 90px;
                left: 70px;
                width: 80%;
            }
        }
        ul {
            @include desktop(){
                top: 220px;
                left: 70px;
                width: 80%;
            }
            li{
                list-style: none;
                display: flex;
                align-items: center;
                margin: 10px 0 10px 0;
                font-family: 'Century Gothic Bold';
                font-size: 1.2rem;
                gap: 10px;
                margin-top: 20px;
            }
        }
    }
    &_7{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        &_info{
            @include desktop(){
                top: 90px;
                left: 70px;
                text-align: center;
            }
            img{
                margin-top: 20px;
            }
        }
        &_text{
            @include desktop(){
                top: 50px;
                right: 180px;
            }
        }
        .info{
            cursor: pointer;
            @include desktop(){
                top: 70px;
                left: 320px;
                width: 62px;
                height: 62px;
            }
            img{
                width: 62px;
            }
        }
    }
    &_8{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        &_info{
            @include desktop(){
                top: 90px;
                left: 70px;
                text-align: center;
            }
            img{
                margin-top: 20px;
            }
        }
        &_text{
            @include desktop(){
                top: 50px;
                right: 180px;
            }
        }
        .info{
            cursor: pointer;
            @include desktop(){
                top: 70px;
                left: 320px;
                width: 62px;
                height: 62px;
            }
            img{
                width: 62px;
            }
        }
    }
    &_9{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        &_text{
            text-align: center;
            @include desktop(){
                top: 40px;
                left: 5px;
            }
            &_t1{
                font-size: 1.2rem;
                margin: 10px 0 10px 0;
                font-family: 'Century Gothic Regular';
            }
            &_t2{
                font-size: 1.5rem;
                margin: 10px 0 10px 0;
                font-family: 'Century Gothic Bold';
            }
        }
        .info{
            cursor: pointer;
            @include desktop(){
                top: 90px;
                left: 90px;
                width: 62px;
                height: 62px;
            }
            img{
                width: 62px;
            }
        }
        .table{
            width: 80%;
            margin-top: 10px;
        }
    }
    &_10{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        .title{
            font-size: 2.5rem;
            @include desktop(){
                top: 80px;
                left: 10%;
                width: 80%;
                text-align: center;
            }
        }
        .text{
            font-size: 1.8rem;
            ul {
                margin-bottom: 20px;
            }
            @include desktop(){
                top: 200px;
                left: 120px;
                width: 75%;
                text-align: center;
            }
        } 
        .info{
            cursor: pointer;
            @include desktop(){
                top: 100px;
                left: 80px;
                width: 62px;
                height: 62px;
            }
            img{
                width: 62px;
            }
        }
    }
    &_11{
        margin: 0;
        background-color: #fff;
        background-image:  url(./images/background.png);
        background-repeat: no-repeat;
        .title{
            font-size: 2.5rem;
            @include desktop(){
                top: 80px;
                left: 10%;
                width: 80%;
                text-align: center;
            }
        }
        .text{
            font-size: 1.8rem;
            ul {
                margin-bottom: 20px;
            }
            @include desktop(){
                top: 200px;
                left: 120px;
                width: 75%;
                text-align: center;
            }
        } 
    }
    
}
#controls{
    display: flex;
    gap: 10px;
    cursor: pointer;
    @include desktop(){
        bottom: 10px;
        right: -50px;
        width: 200px;
    }
    @include small(){
        display: none;
    }
}
.modal{
    @include small(){
        width: 100% !important;
        height: 100vh !important;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
    }
    @include desktop(){
        width: 100% !important;
        height: 100vh !important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
    }
    .content_modal{
        @include small(){
            width: 100% !important;
            height: 100vh !important;
            background-color: #000000d0;
            display: flex;
            justify-content: center;
            align-items:center;
            img{
                width: 100% !important;
            }
        }
        
    }
    .close{
        cursor: pointer;
        @include small(){
            position: absolute;
            top: 10px;
            right: calc(50% - 35px);
        }
        @include desktop(){
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }
    
}